<h1>Genres</h1>

<table>
  <thead>
    <td>Category</td>
    <td>Movie Count</td>
  </thead>

<% @genres_movie_counts.each do |key, val| %>
  <tr>
    <td><%= @genres[key].category %></td>
    <td><%= number_with_delimiter val %></td>
  </tr>
<% end %>
</table>
