// sets up prefixes for browser specific properties
@mixin prefixer ($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}
// mixins for rounded corners (specify corners)
@mixin border-top-radius($radii) {
  @include prefixer(border-top-left-radius, $radii, spec);
  @include prefixer(border-top-right-radius, $radii, spec);
}
@mixin border-bottom-radius($radii) {
  @include prefixer(border-bottom-left-radius, $radii, spec);
  @include prefixer(border-bottom-right-radius, $radii, spec);
}
@mixin border-left-radius($radii) {
  @include prefixer(border-top-left-radius, $radii, spec);
  @include prefixer(border-bottom-left-radius, $radii, spec);
}
@mixin border-right-radius($radii) {
  @include prefixer(border-top-right-radius, $radii, spec);
  @include prefixer(border-bottom-right-radius, $radii, spec);
}
// mixin for rounded corners (all corners)
@mixin border-radius($radii) {
  @include border-top-radius($radii);
  @include border-bottom-radius($radii);
}

@function compact($list) {
  $new-list: ();
  @each $element in $list {
    @if $element {
      $new-list: append($new-list, $element, comma);
    }
  }
  @return $new-list;
}
// mixin for gradients
@mixin linear-gradient($pos, $G1, $G2: false, $G3: false, $G4: false, $G5: false, $G6: false, $G7: false, $G8: false, $G9: false, $G10: false, $deprecated-pos1: left top, $deprecated-pos2: left bottom, $image: false, $image-offset: 0px 0px, $fallback: false) {        
  $pos-type: type-of(nth($pos, 1));
  @if ($pos-type == color) or (nth($pos, 1) == "transparent") {
    $G10: $G9; 
    $G9: $G8;
    $G8: $G7;
    $G7: $G6;
    $G6: $G5;
    $G5: $G4;
    $G4: $G3;
    $G3: $G2;
    $G2: $G1;
    $G1: $pos;
    $pos: top;
  }
  $full: compact(($G1, $G2, $G3, $G4, $G5, $G6, $G7, $G8, $G9, $G10));
  $fallback-color: nth($G1, 1);
  @if (type-of($fallback) == color) or ($fallback == "transparent")  {
    $fallback-color: $fallback;
  }
  background-color: $fallback-color;
  @if ($image != false) {
    background: url($image) $image-offset;
    background: url($image) $image-offset, deprecated-webkit-gradient(linear, $deprecated-pos1, $deprecated-pos2, $full);
    background: url($image) $image-offset, -webkit-linear-gradient($pos, $full);
    background: url($image) $image-offset,    -moz-linear-gradient($pos, $full);
    background: url($image) $image-offset,     -ms-linear-gradient($pos, $full);
    background: url($image) $image-offset,      -o-linear-gradient($pos, $full);
    background: url($image) $image-offset, unquote("linear-gradient(#{$pos}, #{$full})");
  } @else {
    background: deprecated-webkit-gradient(linear, $deprecated-pos1, $deprecated-pos2, $full);
    background:  -webkit-linear-gradient($pos, $full);
    background:     -moz-linear-gradient($pos, $full);
    background:      -ms-linear-gradient($pos, $full);
    background:       -o-linear-gradient($pos, $full);
    background: unquote("linear-gradient(#{$pos}, #{$full})");
  }
}

@mixin background-opacity($color, $opacity: 0.3) {
  // The Fallback 
  background: $color;
  background: rgba($color, $opacity);
}

body {
  font: {
    size: 1em;
    family: 'Myriad Pro', Arial;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  clear: both;
}

#header {
  #logo {
    font: {
      size: 150%;
    }
    padding: 10px 0;
  }
  
  #user-links {
    float: right;
    ul, li { list-style: none; margin: 0; padding: 0; }
    li {
      float: left;
      a {
        display: block;
        padding: 10px;
        color: #a6afba;
        text-decoration: none;
        font: {
          size: 85%;
        }
      }
    }
  }
  
  #nav {
    ul, li { list-style: none; margin: 0; padding: 0; }
    ul {
      border: 1px solid #000;
      @include border-radius(2px);
    }
    li {
      float: left;
      a {
        display: block;
        padding: 0px 10px;
        margin-left: -1px;
        border-left: 1px solid #000;
        @include linear-gradient(#adc0ff 0%, #3e549d 4%, #1e306d 100%, $fallback: #1e306d);
        color: white;
        font: {
          size: 85%;
        }
        line-height: 30px;
        text-decoration: none;
        
        &:hover {
          @include linear-gradient(#adc0ff 0%, #1e306d 4%, #3e549d 100%, $fallback: #3e549d);
        }
      }
    }
  }
  
  #search {
    float: right;
    input.search {
      display: block;
      float: left;
      border: 1px solid #a6afba;
      border-right: none;
      outline: none;
      margin: 0;
      padding: 0 5px;
      font-size: 80%;
      line-height: 100%;
      height: 30px;
      width: 150px;
    }
    input.search-submit {
      display: block;
      float: left;
      margin: 0;
      padding: 0 10px;
      @include linear-gradient(#adc0ff 0%, #3e549d 4%, #1e306d 100%, $fallback: #1e306d);
      outline: none;
      border: 1px solid #000;
      border-left: none;
      @include border-right-radius(2px);
      color: white;
      text-align: center;
      font-size: 75%;
      line-height: 32px;
      height: 32px;
      &:hover {
        @include linear-gradient(#adc0ff 0%, #1e306d 4%, #3e549d 100%, $fallback: #3e549d);
      }
    }
	.advanced-search-link {
		display: block;
		text-align: right;
		font-size: 75%;
		text-decoration: none;
		&:hover {
			background: none;
			color: #333;
			text-decoration: underline;
		}
	}
  }
}

#content {
  .sort {
    margin: 5px 0 0 0;
    font: {
      size: 80%;
    }
  }
}

#footer {
  margin: 10px 0 0 0;
  .footer-nav {
    background: #d7dee6;
    width: 100%;
    ul, li { list-style: none; margin: 0; padding: 0; }
    li {
      float: left;
      a {
        display: block;
        padding: 10px;
        font: {
          size: 85%;
        }
      }
    }
  }
}

#rate_it {
  h1 {
    font-size: 120%;
    font-family: 'Myriad Pro', Arial;
  }
  .movie {
    .movie-poster {
      float: left;
      img {
        max-width: 200px;
      }
    }
    .movie-header {
      float: left;
      display: block;
      margin: 5px 0 0 10px;
      max-width: 700px;
      
      .row {
        margin: 10px 0 0 0;
        clear: both;
        display: block;
        line-height: 100%;
        .left {
          float: left;
          color: #999;
          font: {
            size: 80%;
          }
        }
        .right {
          margin: 0 0 0 150px;
          color: #333;
          font: {
            size: 80%;
            weight: bold;
          }
        }
      }
    }
    #edit-imdb-url {
      color: #999;
      font: {
        size: 80%;
        weight: normal;
      }
    }
    #new-imdb-url {
      height: 18px;
      line-height: 18px;
      border: 1px solid #a6afb9;
      border-right: none;
      outline: none;
      padding: 0px 5px 0;
      margin: 0;
      font-size: 75%;
    }
    .submit {
      height: 20px;
      @include linear-gradient(#adc0ff 0%, #3e549d 4%, #1e306d 100%, $fallback: #1e306d);
      outline: none;
      border: 1px solid #000;
      @include border-right-radius(2px);
      color: white;
      font-size: 80%;
    }
    .movie-title {
      display: block;
      font: {
        size: 150%;
        weight: 600;
      }
      line-height: 120%;
    }
    .movie-year {
      margin: 10px 0 0 0;
      color: #888;
      font: {
        size: 80%;
      }
    }
    .movie-imdb-rating {
      margin: 5px 0 0 0;
      color: #888;
      font: {
        size: 80%;
      }
    }
    strong {
      color: #333;
    }
  }
}




table {
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  thead {
    background: #d7dee6;
    font-size: 150%;
  }
  tr {
    td {
      border: 1px solid #a6afba;
      padding: 5px;
      
      &.imdb-rating {
        text-align: center;
      }
    }
  }
}

label {
  display: block;
}

#users-header {
  width: 300px;
  padding: 0 10px;
  margin: 100px auto 0;
  text-align: center;
}
#users-content {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  h1 {
    margin: 0; padding: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: 'Myriad Pro', Arial;
    color: #a6afb9;
  }
  form {
    margin: 10px 0 0 0;
    .users-field {
      width: 100%;
      height: 28px;
      border: 1px solid #a6afb9;
      padding: 0 5px;
      font-size: 80%;
    }
    .submit {
      width: 312px;
      height: 28px;
      padding: 0 5px;
      margin: 0;
      outline: none;
      border: 1px solid #000;
      @include linear-gradient(#adc0ff 0%, #3e549d 4%, #1e306d 100%, $fallback: #1e306d);
      @include border-right-radius(2px);
      color: white;
      font-size: 80%;
      &:hover {
        @include linear-gradient(#adc0ff 0%, #1e306d 4%, #3e549d 100%, $fallback: #3e549d);
      }
      &:active {
        @include linear-gradient(#adc0ff 0%, #1e306d 4%, #3e549d 100%, $fallback: #3e549d);
      }
    }
  }
}

.small-info {
  color: #999;
  font-size: 8pt;
  font-weight: normal;
}