Advanced Search Result
</br>
<%= @fname %>

<h1>Movies</h1>
<table>
	<thead>
		<td>Title</td>
	</thead>
<% @advanced_movie_result.each do |movie|%>
	<tr>
		<td><%= link_to movie.name, movie_show_path(movie.id) %></td>
	</tr>
<%end%>
</table>
