<form id="advanced-search-form">
	<h2>Movie Person</h2>
	<div class="movie-person-block">
		<input type="text" class="fname" placeholder="First Name">
		<input type="text" class="mname" placeholder="Middle Name">
		<input type="text" class="lname" placeholder="Last Name">
		<br />
		<label><input type="checkbox" value="actor" class="actor"> Actor?</label>
		<label><input type="checkbox" value="director" class="director"> Director?</label>
	</div>
	<%= link_to_function 'add person', "add_movie_person_block()" %>
	<h2>Movie</h2>
	<div class="movie">
		<input type="text" id="movie_title" placeholder="Title">
		<input type="text" id="movie_year" placeholder="Year">
		<input type="text" id="imdb_rating" placeholder="IMDB Rating">
		<input type="text" id="user_rating" placeholder="User Rating">
	</div>
	<br />
	<h2>Genre</h2>
	<div class = "genre">
		<input type="text" id="genre_category" placeholder="Category">
	</div>
	<br />
	<h2>Oscars</h2>
	<div class ="oscar">
		<input type="text" id="oscar_category" placeholder="Oscar category">
		<input type="text" id="start_year" placeholder="Start year">
		<input type="text" id="end_year" placeholder="End year">
	</div>
		<br/>
	<input type="submit" id="advanced-search-submit" value="Search">
</form>