<div id="rate_it" class="clearfix">
  <h1>Rate It!</h2>
  <div class="movie clearfix" id="movie_<%= @movie.id %>">
  <%= render :partial => 'movies/movie', :locals => {:movie => @movie } %>
  </div>
</div>